.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NextMove-div {
  padding-top: 10px;
  padding-bottom: 10px;
    align-items: stretch;
    background-color: rgb(224, 230, 193);
}

.NextMove-button {
    height: 40px;
    align-self: center;
    position: relative;
    left: 50%;
    outline: none;
    cursor: pointer;
    background: white;
    border-radius: 5px;
}
